@CHARSET "UTF-8";

html,body {width:100%;}
html,body,div,ul,li,ol,img,form,input,button,a,section,article,p,h2,footer,header,nav{padding: 0;margin: 0;}
div{display: block;}

/*头部*/
.top-header{width: 100%;height: 56px;position: fixed;z-index: 100;background-color: #33a8c6;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;}
.top-header div{display: inline-block;float:left;}
.header-inner{margin-left: 40%;}

/* 轮播图*/
.banner{width: 960px;margin: 0 auto;font-size: 0;}
.banner-left{width:240px;height:405px;box-sizing: border-box;text-align: center;display: inline-block;float:left;}
.banner-right{box-sizing: border-box;text-align: center;display: inline-block;float:left;}
/*右轮播-渐隐*/
.luara-{position:relative;overflow: hidden;}
.luara- ul li{display: none;list-style: none;}
.luara- ul li:first-child{display:block;}
.luara- ul li img{width: 100%;height: 100%;}
.banner-right ol{position:relative;width: 80px;height: 20px;top:-20px;margin: 0 auto;list-style: none;}
.banner-right ol li{float:left;width: 5px;height: 5px;margin: 5px;background: #c0c0c0;}
.banner-right ol li.seleted{background: #1AA4CA;}
/*左轮播-上下*/
/* .luara-top{position:relative;padding:0;overflow: hidden;}
.luara-top ul{position: relative;padding: inherit;margin: 0;}
.luara-top ul li{padding: inherit;margin: inherit;list-style: none;}
.luara-top ul li img{width: inherit;height: inherit;}
.banner-left ol{position:relative;width: 40px;height: 10px;top:-15px;margin: 0 auto;list-style: none;}
.banner-left ol li{float:left;width: 5px;height: 5px;margin: 2.5px;background: #c0c0c0;}
.banner-left ol li.seleted{background: #1AA4CA;} */
.banner-left img{width: 100%;padding-top: 171px;}
.boundary{width: 100%;height: 2px;background-color: black;display: inline-table;}
/* 中间内容 */
.wrap-body{width: 960px;margin: 0 auto;box-sizing: border-box;}

/* 左侧边栏 */
.sidebar{
	display: inline-block;
	float:left;
	box-sizing: border-box;
    width: 25%;
    padding:30px 20px 0 20px;
/*     background-color: orange; */
}
/* 右侧内容区 */
.context{
	display: inline-block;
	float:left;
	box-sizing: border-box;
	width: 75%;
    padding:30px 20px 0 40px;
/* 	background-color: silver; */
	
}




















