@CHARSET "UTF-8";
body{
	background-image:url("../../img/test/zhuoku021.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color: green; */
}
#d01{
	background-color: orange;
}